In [97]:
import numpy as np
import pandas as pd
import numpy as np
import math
from scipy.spatial.distance import pdist
from scipy.spatial.distance import squareform

In [122]:
# Specify k
k = 5

In [123]:
# Import k-dependent data
clusters_base = pd.read_csv(f'data/synapse_clusters/clusters_k{k}.csv', index_col=0)
clusters_w_pos = pd.read_csv(f'data/synapse_clusters/with_syn_ctrs/clusters_k{k}.csv', index_col=0)
clusters_w_ids = pd.read_csv(f'data/synapse_clusters/with_pre_ids/clusters_k{k}.csv', index_col=0)
print(clusters_w_pos.shape, clusters_w_ids.shape, clusters_base.shape)
display(clusters_base.head())
display(clusters_w_pos.head())
display(clusters_w_ids.head())

(74167, 26) (74167, 16) (74167, 11)

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z
cluster_id,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,1049.288
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,1002.048
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,903.032
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,937.072
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,882.984

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,...,synapse_ctr_z_1,synapse_ctr_x_2,synapse_ctr_y_2,synapse_ctr_z_2,synapse_ctr_x_3,synapse_ctr_y_3,synapse_ctr_z_3,synapse_ctr_x_4,synapse_ctr_y_4,synapse_ctr_z_4
cluster_id,,,,,,,,,,,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,...,1047.64,571.656,689.108,1052.52,569.136,690.808,1051.96,570.972,695.692,1048.96
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,...,997.48,500.976,1021.352,1000.76,500.088,1021.880,1006.40,497.600,1021.392,1007.16
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,...,903.48,417.872,580.744,902.36,416.960,569.680,903.28,417.472,568.608,903.52
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,...,937.68,489.744,880.056,939.88,487.176,873.280,936.16,487.560,870.816,933.72
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,...,883.52,586.520,744.176,882.36,590.184,743.728,882.28,591.760,743.520,882.16

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,pre_pt_root_id_0,pre_pt_root_id_1,pre_pt_root_id_2,pre_pt_root_id_3,pre_pt_root_id_4
cluster_id,,,,,,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,1049.288,864691135463697733,864691135420483058,864691135415448506,864691136740412764,864691135684083895
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,1002.048,864691135776654432,864691135776654432,864691136973670940,864691135307087430,864691135307087430
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,903.032,864691135660521712,864691135660521712,864691135404012526,864691135660521712,864691135660521712
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,937.072,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,882.984,864691135488499770,864691135462245533,864691135501549378,864691134988717434,864691135855775022

In [124]:
# Slim down dataframes to only include relevant columns:
dims = ['x', 'y', 'z']
pos_keys = [f'synapse_ctr_{dim}_{i}' for i in range(k) for dim in dims ]
clusters_pos = clusters_w_pos[pos_keys]
display(clusters_pos.head())

,synapse_ctr_x_0,synapse_ctr_y_0,synapse_ctr_z_0,synapse_ctr_x_1,synapse_ctr_y_1,synapse_ctr_z_1,synapse_ctr_x_2,synapse_ctr_y_2,synapse_ctr_z_2,synapse_ctr_x_3,synapse_ctr_y_3,synapse_ctr_z_3,synapse_ctr_x_4,synapse_ctr_y_4,synapse_ctr_z_4
cluster_id,,,,,,,,,,,,,,,
0,575.424,686.624,1045.36,579.460,687.196,1047.64,571.656,689.108,1052.52,569.136,690.808,1051.96,570.972,695.692,1048.96
1,501.512,1020.024,998.44,502.192,1019.112,997.48,500.976,1021.352,1000.76,500.088,1021.880,1006.40,497.600,1021.392,1007.16
2,418.488,577.704,902.52,418.240,574.880,903.48,417.872,580.744,902.36,416.960,569.680,903.28,417.472,568.608,903.52
3,487.624,882.008,937.92,489.564,879.168,937.68,489.744,880.056,939.88,487.176,873.280,936.16,487.560,870.816,933.72
4,580.984,745.396,884.60,583.688,745.120,883.52,586.520,744.176,882.36,590.184,743.728,882.28,591.760,743.520,882.16

In [125]:
id_keys = [f'pre_pt_root_id_{i}' for i in range(k)]
clusters_ids = clusters_w_ids[id_keys]
display(clusters_ids.head())

,pre_pt_root_id_0,pre_pt_root_id_1,pre_pt_root_id_2,pre_pt_root_id_3,pre_pt_root_id_4
cluster_id,,,,,
0,864691135463697733,864691135420483058,864691135415448506,864691136740412764,864691135684083895
1,864691135776654432,864691135776654432,864691136973670940,864691135307087430,864691135307087430
2,864691135660521712,864691135660521712,864691135404012526,864691135660521712,864691135660521712
3,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585
4,864691135488499770,864691135462245533,864691135501549378,864691134988717434,864691135855775022

In [126]:
def dist_row_to_sequence(row):
    sequence = []
    for i in range(len(row)):
        next_index = np.argmin(row)
        sequence.append(next_index)
        row[next_index] = np.inf
    return sequence

In [127]:
def get_id(index, pre_ids):
    return pre_ids.loc[f'pre_pt_root_id_{index}']

def index_to_id(index_sequence, pre_ids):
    id_sequence = []
    for index in index_sequence:
        id_sequence.append(get_id(index, pre_ids))
    return id_sequence

In [128]:
# Given a cluster, find the sequence of synapses
def calculate_sequence(synapse_pos, pre_ids, k):
    synapse_pos = synapse_pos.to_numpy().reshape(k,3)
    pairwise_distances = squareform(pdist(synapse_pos))

    # Find the furthest points
    furthest_condensed = np.argmax(pairwise_distances)
    start,finish = np.unravel_index(furthest_condensed, (k,k))
    
    # Find the sequence of indexes
    sequence_row = pairwise_distances[start,:]
    sequence_indexes = dist_row_to_sequence(sequence_row)

    # Convert to sequence of ids
    sequence = index_to_id(sequence_indexes, pre_ids)

    return sequence

In [129]:
def find_sequences(cluster_pos, cluster_ids, k):
    sequences = []
    for cluster_id, synapse_pos in cluster_pos.iterrows():
        pre_ids = cluster_ids.loc[cluster_id,:]
        sequence = calculate_sequence(synapse_pos, pre_ids, k)
        sequences.append(sequence)
    return sequences

In [130]:
sequence_keys = [f'sequence_rank_{i}' for i in range(k)]
sequences = find_sequences(clusters_pos, clusters_ids, k)

In [131]:
clusters_sequences = clusters_base.copy()
clusters_sequences.loc[:,sequence_keys] = sequences
display(clusters_sequences.head())

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,sequence_rank_0,sequence_rank_1,sequence_rank_2,sequence_rank_3,sequence_rank_4
cluster_id,,,,,,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,1049.288,864691135420483058,864691135463697733,864691135415448506,864691136740412764,864691135684083895
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,1002.048,864691135776654432,864691135776654432,864691136973670940,864691135307087430,864691135307087430
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,903.032,864691135404012526,864691135660521712,864691135660521712,864691135660521712,864691135660521712
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,937.072,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,882.984,864691135488499770,864691135462245533,864691135501549378,864691134988717434,864691135855775022

In [132]:
print(clusters_sequences.shape)
print(clusters_base.shape)

(74167, 16)
(74167, 11)

In [133]:
# clusters_sequences.to_csv(f'data/synapse_clusters/with_sequences/clusters_k{k}.csv')