In [1]:
import numpy as np
import pandas as pd

In [2]:
# Specify k
k = 5

In [9]:
# Import k-dependent data
clusters_w_syn_cntrs = pd.read_csv(f'data/synapse_clusters/with_syn_ctrs/clusters_k{k}.csv', index_col=0)
clusters_w_seqs = pd.read_csv(f'data/synapse_clusters/with_sequences/clusters_k{k}.csv', index_col=0)
clusters_w_pre_ids = pd.read_csv(f'data/synapse_clusters/with_pre_ids/clusters_k{k}.csv', index_col=0)
display(clusters_w_syn_cntrs.head())
display(clusters_w_seqs.head())
display(clusters_w_pre_ids.head())

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,...,synapse_ctr_z_1,synapse_ctr_x_2,synapse_ctr_y_2,synapse_ctr_z_2,synapse_ctr_x_3,synapse_ctr_y_3,synapse_ctr_z_3,synapse_ctr_x_4,synapse_ctr_y_4,synapse_ctr_z_4
cluster_id,,,,,,,,,,,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,...,1047.64,571.656,689.108,1052.52,569.136,690.808,1051.96,570.972,695.692,1048.96
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,...,997.48,500.976,1021.352,1000.76,500.088,1021.880,1006.40,497.600,1021.392,1007.16
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,...,903.48,417.872,580.744,902.36,416.960,569.680,903.28,417.472,568.608,903.52
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,...,937.68,489.744,880.056,939.88,487.176,873.280,936.16,487.560,870.816,933.72
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,...,883.52,586.520,744.176,882.36,590.184,743.728,882.28,591.760,743.520,882.16

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,sequence_rank_0,sequence_rank_1,sequence_rank_2,sequence_rank_3,sequence_rank_4
cluster_id,,,,,,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,1049.288,864691135420483058,864691135463697733,864691135415448506,864691136740412764,864691135684083895
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,1002.048,864691135776654432,864691135776654432,864691136973670940,864691135307087430,864691135307087430
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,903.032,864691135404012526,864691135660521712,864691135660521712,864691135660521712,864691135660521712
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,937.072,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,882.984,864691135488499770,864691135462245533,864691135501549378,864691134988717434,864691135855775022

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,pre_pt_root_id_0,pre_pt_root_id_1,pre_pt_root_id_2,pre_pt_root_id_3,pre_pt_root_id_4
cluster_id,,,,,,,,,,,,,,,,
0,923889,912217,906864,900422,941001,0.413845,864691134884741370,4P,573.3296,689.8856,1049.288,864691135463697733,864691135420483058,864691135415448506,864691136740412764,864691135684083895
1,677928,680389,677164,678984,681563,0.456460,864691134884742906,6P-IT,500.4736,1020.7520,1002.048,864691135776654432,864691135776654432,864691136973670940,864691135307087430,864691135307087430
2,657643,695427,680348,675225,679270,0.409908,864691134884742906,6P-IT,417.8064,574.3232,903.032,864691135660521712,864691135660521712,864691135404012526,864691135660521712,864691135660521712
3,674327,704519,662648,676483,709257,0.418260,864691134884742906,6P-IT,488.3336,877.0656,937.072,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585
4,708116,673286,684750,713306,690728,0.446153,864691134884742906,6P-IT,586.6272,744.3880,882.984,864691135488499770,864691135462245533,864691135501549378,864691134988717434,864691135855775022

In [19]:
sequence = (864691136123673382,
            864691135939799462,
            864691136723452669,
            864691135975784515,
            864691135013164950)

In [46]:
dims = ['x', 'y', 'z']
syn_cntr_keys = [f'synapse_ctr_{dim}_{i}' for i in range(k) for dim in dims]
display(clusters_w_seqs.loc[67851:67852, :])
display(clusters_w_syn_cntrs.loc[67851:67852, syn_cntr_keys])
display(clusters_w_pre_ids.loc[67851:67852, :])

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,sequence_rank_0,sequence_rank_1,sequence_rank_2,sequence_rank_3,sequence_rank_4
cluster_id,,,,,,,,,,,,,,,,
67851,1072053,1133479,1063565,1128895,1083122,0.95192,864691136672648327,5P-IT,554.584,781.4040,957.848,864691136123673382,864691135939799462,864691136723452669,864691135975784515,864691135013164950
67852,1115390,1128895,1063565,1083122,1133479,0.95192,864691136672648327,5P-IT,553.448,781.3832,957.872,864691135013164950,864691135975784515,864691136723452669,864691135939799462,864691136123673382

,synapse_ctr_x_0,synapse_ctr_y_0,synapse_ctr_z_0,synapse_ctr_x_1,synapse_ctr_y_1,synapse_ctr_z_1,synapse_ctr_x_2,synapse_ctr_y_2,synapse_ctr_z_2,synapse_ctr_x_3,synapse_ctr_y_3,synapse_ctr_z_3,synapse_ctr_x_4,synapse_ctr_y_4,synapse_ctr_z_4
cluster_id,,,,,,,,,,,,,,,
67851,557.392,781.912,958.28,555.784,781.212,960.28,553.56,781.344,957.0,553.312,781.024,957.76,552.872,781.528,955.92
67852,551.712,781.808,958.40,553.312,781.024,957.76,553.56,781.344,957.0,552.872,781.528,955.92,555.784,781.212,960.28

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,pre_pt_root_id_0,pre_pt_root_id_1,pre_pt_root_id_2,pre_pt_root_id_3,pre_pt_root_id_4
cluster_id,,,,,,,,,,,,,,,,
67851,1072053,1133479,1063565,1128895,1083122,0.95192,864691136672648327,5P-IT,554.584,781.4040,957.848,864691135939799462,864691136123673382,864691135975784515,864691136723452669,864691135013164950
67852,1115390,1128895,1063565,1083122,1133479,0.95192,864691136672648327,5P-IT,553.448,781.3832,957.872,864691135939799462,864691136723452669,864691135975784515,864691135013164950,864691136123673382

In [48]:
# 67851: 1, 0, 3, 2, 4
# 67852: 3, 2, 1, 0, 4

In [55]:
np.matmul(np.array([553.448, 781.3832, 957.872]), np.diag([1000/4, 1000/4, 1000/40]))

array([138362. , 195345.8,  23946.8])

In [ ]:
# Cluster info for nueroglancer: 67852
# 1. pt_roo_ids in order of sequence
864691136672648327, 864691135013164950, 864691135975784515, 864691136723452669, 864691135939799462, 864691136123673382

# 2. synapse centers xyz
[138218, 195382, 23898]
[138390, 195336, 23925]
[138328, 195256, 23944]
[137928, 195452, 23960]
[138946, 195303, 24007]

# 3. synapse centroid xyz
[138362, 195345.8, 23946.8]

In [ ]:
# Cluster info for nueroglancer: 67851
# 1. pt_roo_ids in order of sequence
864691136672648327, 864691136123673382, 864691135939799462, 864691136723452669, 864691135975784515, 864691135013164950

# 2. synapse centers xyz
[138946, 195303, 24007]
[139348, 195478, 23957]
[138328, 195256, 23944]
[138390, 195336, 23925]
[138218, 195382, 23898]

# 3. synapse centroid xyz
[138646, 195351, 23946]

In [17]:
dims = ['x', 'y', 'z']
pos_keys = [f'synapse_ctr_{dim}_{i}' for i in range(k) for dim in dims]
display(clusters_w_syn_cntrs.loc[66245, pos_keys])

synapse_ctr_x_0     1029.92
synapse_ctr_y_0     769.936
synapse_ctr_z_0      846.72
synapse_ctr_x_1     1029.56
synapse_ctr_y_1     770.048
synapse_ctr_z_1      845.68
synapse_ctr_x_2    1028.168
synapse_ctr_y_2     770.032
synapse_ctr_z_2      842.88
synapse_ctr_x_3    1028.088
synapse_ctr_y_3     770.944
synapse_ctr_z_3      842.44
synapse_ctr_x_4    1033.232
synapse_ctr_y_4     768.052
synapse_ctr_z_4      851.48
Name: 66245, dtype: object