In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
k = 6

In [6]:
synapses = pd.read_csv('data/synapses_w_ids.csv', index_col=0)
display(synapses.head())

,pre_pt_root_id,post_pt_root_id,size,cell_type_pre,cb_x_pre,cb_y_pre,cb_z_pre,cell_type_post,cb_x_post,cb_y_post,cb_z_post,cb_x_diff,cb_y_diff,cb_z_diff,ctr_pt_x,ctr_pt_y,ctr_pt_z,synapse_id
0,864691135564683351,864691136811959667,960,23P,557.248,570.560,732.52,23P,791.744,483.968,780.44,-234.496,86.592,-47.92,637.608,371.352,720.20,0
1,864691135614119115,864691135508912649,7576,23P,774.720,504.960,895.68,23P,807.936,459.584,870.28,-33.216,45.376,25.40,805.376,488.376,863.60,1
3,864691135113147801,864691136022555784,684,23P,883.072,451.456,817.84,23P,851.520,483.840,759.96,31.552,-32.384,57.88,858.328,516.648,775.88,3
4,864691135194393642,864691135341362885,23172,23P,781.248,449.984,696.88,23P,798.720,465.152,758.56,-17.472,-15.168,-61.68,789.400,478.040,691.00,4
5,864691136272938174,864691135683554546,3660,23P,762.368,473.792,773.68,23P,820.352,446.784,719.08,-57.984,27.008,54.60,756.624,440.928,710.60,5

In [4]:
clusters_w_ids = pd.read_csv(f'data/synapse_clusters/with_pre_ids/clusters_k{k}.csv', index_col=0)
clusters_w_ids.head()

,synapse_id_0,synapse_id_1,synapse_id_2,synapse_id_3,synapse_id_4,synapse_id_5,density_score,post_pt_root_id,post_cell_type,centroid_x,centroid_y,centroid_z,pre_pt_root_id_0,pre_pt_root_id_1,pre_pt_root_id_2,pre_pt_root_id_3,pre_pt_root_id_4,pre_pt_root_id_5
cluster_id,,,,,,,,,,,,,,,,,,
0,941001,900422,906864,932560,932857,923889,0.397512,864691134884741370,4P,572.974667,691.796667,1052.113333,864691135684083895,864691136740412764,864691135415448506,864691135739717012,864691136388590711,864691135463697733
1,958004,979837,932857,932560,912217,906864,0.413748,864691134884741370,4P,577.322667,692.268000,1054.240000,864691136388590711,864691136388590711,864691136388590711,864691135739717012,864691135420483058,864691135415448506
2,674327,704519,662648,676483,709257,678862,0.384314,864691134884742906,6P-IT,488.466000,875.476000,936.273333,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585,864691135730537145
3,687488,689522,657710,670465,673155,692136,0.379345,864691134884742906,6P-IT,553.638667,1000.280667,1026.933333,864691136422832687,864691135526099547,864691136041046102,864691136422832687,864691136486788370,864691135866412566
4,685121,2241694,711425,686754,702105,676480,0.381143,864691134884743930,6P-IT,586.533333,758.324000,750.860000,864691136723314173,864691135937724981,864691135338086118,864691134917384458,864691135012855446,864691136134450827

In [5]:
id_keys = [f'pre_pt_root_id_{i}' for i in range(k)]
cluster_ids = clusters_w_ids[id_keys]
cluster_ids.head()

,pre_pt_root_id_0,pre_pt_root_id_1,pre_pt_root_id_2,pre_pt_root_id_3,pre_pt_root_id_4,pre_pt_root_id_5
cluster_id,,,,,,
0,864691135684083895,864691136740412764,864691135415448506,864691135739717012,864691136388590711,864691135463697733
1,864691136388590711,864691136388590711,864691136388590711,864691135739717012,864691135420483058,864691135415448506
2,864691136378754261,864691136903065778,864691135772039931,864691136740406620,864691135730118585,864691135730537145
3,864691136422832687,864691135526099547,864691136041046102,864691136422832687,864691136486788370,864691135866412566
4,864691136723314173,864691135937724981,864691135338086118,864691134917384458,864691135012855446,864691136134450827

In [7]:
unique_synapses = set()
for ij in range(k):
    unique_synapses.update(clusters_w_ids[f'synapse_id_{ij}'])
print(len(unique_synapses))
print(clusters_w_ids.shape[0] * k)

316685
385980

In [15]:
cluster_synapses = synapses.loc[list(unique_synapses)]
synapse_pre_ids = cluster_synapses.loc[:, ['pre_pt_root_id']]['pre_pt_root_id'].unique()
print(len(synapse_pre_ids))

35613

In [16]:
unicode_to_id = {chr(char): pre_id for char, pre_id in enumerate(synapse_pre_ids)}
id_to_unicode = {pre_id: chr(char) for char, pre_id in enumerate(synapse_pre_ids)}