In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylcs as LCS

Metric:

Record the mean number of sequences with max similarity >= 3 (high max similarity) across trials
Get the stats and see where our empirical data lands
Plot on graph with x-axis short sequence length, each point the mean with error bars std and a point for measured sample

In [7]:
sequences = pd.read_pickle('sequences/encoded_list.pkl')
print(len(sequences))

688583

In [3]:
synapse_df = pd.read_csv('synapses_w_ids.csv', index_col=0)
synapse_df.head()

,pre_pt_root_id,post_pt_root_id,size,cell_type_pre,cb_x_pre,cb_y_pre,cb_z_pre,cell_type_post,cb_x_post,cb_y_post,cb_z_post,cb_x_diff,cb_y_diff,cb_z_diff,ctr_pt_x,ctr_pt_y,ctr_pt_z,synapse_id
0,864691135564683351,864691136811959667,960,23P,557.248,570.560,732.52,23P,791.744,483.968,780.44,-234.496,86.592,-47.92,637.608,371.352,720.20,0
1,864691135614119115,864691135508912649,7576,23P,774.720,504.960,895.68,23P,807.936,459.584,870.28,-33.216,45.376,25.40,805.376,488.376,863.60,1
3,864691135113147801,864691136022555784,684,23P,883.072,451.456,817.84,23P,851.520,483.840,759.96,31.552,-32.384,57.88,858.328,516.648,775.88,3
4,864691135194393642,864691135341362885,23172,23P,781.248,449.984,696.88,23P,798.720,465.152,758.56,-17.472,-15.168,-61.68,789.400,478.040,691.00,4
5,864691136272938174,864691135683554546,3660,23P,762.368,473.792,773.68,23P,820.352,446.784,719.08,-57.984,27.008,54.60,756.624,440.928,710.60,5

In [6]:
baby_data = synapse_df[:10]
baby_data.set_index('synapse_id', inplace=True)

desired_cols = ['pre_pt_root_id', 'post_pt_root_id', 'size', 'cell_type_pre', 'cell_type_post', 'ctr_pt_x', 'ctr_pt_y', 'ctr_pt_z']

baby_data = baby_data[desired_cols]
display(baby_data)
baby_data.to_csv('baby_data.csv')

,pre_pt_root_id,post_pt_root_id,size,cell_type_pre,cell_type_post,ctr_pt_x,ctr_pt_y,ctr_pt_z
synapse_id,,,,,,,,
0,864691135564683351,864691136811959667,960,23P,23P,637.608,371.352,720.20
1,864691135614119115,864691135508912649,7576,23P,23P,805.376,488.376,863.60
3,864691135113147801,864691136022555784,684,23P,23P,858.328,516.648,775.88
4,864691135194393642,864691135341362885,23172,23P,23P,789.400,478.040,691.00
5,864691136272938174,864691135683554546,3660,23P,23P,756.624,440.928,710.60
6,864691135858682472,864691135925929998,12096,6P-IT,5P-IT,976.136,807.376,929.68
7,864691135155554404,864691135155554404,864,23P,23P,809.536,449.080,721.76
8,864691135865001948,864691136050998515,13756,23P,23P,789.000,514.384,761.84
9,864691135837192851,864691137197197121,25272,4P,5P-ET,898.064,788.104,1022.52
10,864691135393947637,864691135345168031,3100,23P,23P,761.808,504.624,604.52

In [10]:
sequences_encoded = pd.read_pickle('sequences/encoded_list.pkl')
sequences_encoded.sort(key=len)

In [23]:
test = np.array([
    'AAGGTTCC',
    'AAGBDSGD',
    'OWIUEHDJBASAAGFDS',
    '0291inskjdnxncDDD:LK',
    'AFgidifoIDSFSIAAGwiqSD',
    'DJFPOIQPWOINJDBFASfslkafn;aslk',
    'KSDJFKJOIewjpofieSAFKDSF',
    'KJDFiwjosiASFJOASFJASFKs',
    'DKJFPOIEwjAAGjdofijweSDF'
])

In [39]:
lcs_dict = {}
for i in range(len(test) - 1):
    str1 = test[i]
    length1 = len(str1)
    lcs_dict.setdefault(length1, [])

    lcs_comps = np.array(LCS.lcs_string_of_list(str1, test[i+1:]))

    max_lcs = max(lcs_comps)
    indices = lcs_comps == max_lcs
    lcs_seq_pairs = test[i+1:][indices]

    # Add the sequence, max LCS, and similar sequences to the dictionary
    lcs_dict[length1].append((str1, max_lcs, lcs_seq_pairs))

In [41]:
display(lcs_dict)

{8: [('AAGGTTCC',
   3,
   array(['AAGBDSGD', 'OWIUEHDJBASAAGFDS', 'AFgidifoIDSFSIAAGwiqSD',
          'DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30')),
  ('AAGBDSGD',
   3,
   array(['OWIUEHDJBASAAGFDS', 'AFgidifoIDSFSIAAGwiqSD',
          'DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30'))],
 17: [('OWIUEHDJBASAAGFDS',
   3,
   array(['AFgidifoIDSFSIAAGwiqSD', 'DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30'))],
 20: [('0291inskjdnxncDDD:LK',
   2,
   array(['DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30'))],
 22: [('AFgidifoIDSFSIAAGwiqSD',
   3,
   array(['KSDJFKJOIewjpofieSAFKDSF', 'DKJFPOIEwjAAGjdofijweSDF'],
         dtype='<U30'))],
 30: [('DJFPOIQPWOINJDBFASfslkafn;aslk',
   5,
   array(['DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30'))],
 24: [('KSDJFKJOIewjpofieSAFKDSF',
   3,
   array(['DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30')),
  ('KJDFiwjosiASFJOASFJASFKs',
   2,
   array(['DKJFPOIEwjAAGjdofijweSDF'], dtype='<U30'))]}